---
import { ViewTransitions, fade } from 'astro:transitions';
import AppNavbar from '../components/layout/AppNavbar.astro';
import AppFooter from '../components/layout/AppFooter.astro';
import MouseElement from '../components/layout/MouseElement.astro';

import '../assets/css/app.css';

type Props = {
	title: string;
	description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="sk" transition:animate={fade({ duration: '350ms' })}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<meta name="title" content={title} />
		<meta name="description" content={description} />
		<meta name="og:title" content={title} />
		<meta name="og:description" content={description} />

		<link
			rel="preload"
			as="font"
			type="font/woff2"
			href="/fonts/ClashDisplay-Semibold.woff2"
			crossorigin="anonymous"
		/>
		<link
			rel="preload"
			as="font"
			type="font/woff2"
			href="/fonts/ClashDisplay-Regular.woff2"
			crossorigin="anonymous"
		/>
		<link rel="preload" as="font" type="font/woff2" href="/fonts/Nunito-ExtraBold.woff2" crossorigin="anonymous" />
		<link rel="preload" as="font" type="font/woff2" href="/fonts/Nunito-Regular.woff2" crossorigin="anonymous" />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<title>{title}</title>

		<ViewTransitions />
	</head>
	<body>
		<MouseElement />

		<header>
			<AppNavbar />
		</header>

		<main>
			<slot />
		</main>

		<footer transition:persist>
			<AppFooter />
		</footer>
	</body>
</html>
